<!-- @format -->

<%- include("partials/header")%>
<body>
  <%- include("partials/navbar/navbar")%>

  <div class="results-header">
    <h2>Results for<br /><%- city %></h2>
    <div class="underline"></div>
  </div>

  <%- include("partials/main-results/results") %> <%- include("partials/footer")
  %>
</body>
